rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth != null;
      allow create, update: if request.auth.uid == userId;
    }

    match /groups/{groupId} {
      allow get, list, create, update: if request.auth != null;

      match /messages/{messageId} {
        // Izinkan semua pengguna yang terautentikasi untuk membaca dan menulis pesan
        // untuk menyederhanakan izin dan memperbaiki masalah kondisi "balapan".
        allow read, create: if request.auth != null;
      }
    }
  }
}
